.user-card {
    background-color: darkblue;
    color: white;
    padding: 14px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;

    transition: .3s;
}

.user-card h2 {
    text-align: center;
}

.user-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 4px 1px gray;
}